
.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5em 30em;
}

.banner__intro{
    font-size: 16px;
    color: var(--bordo);
    
}

.banner__titulo{
    font-size: 48px;
    color: var(--cinza);
    font-weight: 600;
    padding: 0.7em;
}

.banner__texto{
    font-size: 20px;
    color: var(--cinza--claro);
    font-weight: 400;
}